/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #d29849 #d97441;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #4fa8c2;
}

*::-webkit-scrollbar-thumb {
  background-color: #d29849;
  border-radius: 10px;
  border: 2px solid #d97441;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.color {
  color: #d81c23;
  color: #4fa8c2;
  color: #d97441;
  color: #d29849;
  font-family: "Nanum Pen Script", cursive;
}

.page-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  background-image: url(../UI/Icons/background.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

.section-container {
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  border: none;
}
.bottom {
  width: 100%;
  justify-content: center;
  font-family: "Nanum Pen Script", cursive;
  font-size: 150%;
  display: flex;
  align-items: center;
  height: 5vh;
}
.webName {
  margin-left: 5px;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.69);
  border: none;
}

.icon {
  height: 3vmin;
  margin-left: 3px;
  margin-right: 3px;
}

@media (max-width: 500px) {
  .bottom {
    font-size: 50%;
  }
}
@media (max-width: 400px) {
  .bottom {
    font-size: 40%;
  }
}
