.color {
  color: #d81c23;
  color: #4fa8c2;
  color: #d97441;
  color: #d29849;
  font-family: "Nanum Pen Script", cursive;
}

.page-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  background-color: whitesmoke;
  overflow-x: hidden;
}

.link-container {
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  border: none;
}
.bottom {
  width: 100%;
  justify-content: center;
  font-family: "Nanum Pen Script", cursive;
  font-size: 150%;
  display: flex;
  align-items: center;
  height: 5vh;
}
.webName {
  margin-left: 5px;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.69);
  border: none;
}

.icon {
  height: 3vmin;
  margin-left: 3px;
  margin-right: 3px;
}

@media (max-width: 500px) {
  .bottom {
    font-size: 50%;
  }
}
@media (max-width: 400px) {
  .bottom {
    font-size: 40%;
  }
}
