.container {
  grid-row: 4/5;
  width: 100%;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 0 0 25px 25px;
  transition: 0.2s;
}

.container:visited {
  text-decoration: none;
}
.container:link {
  text-decoration: none;
}

.header-container {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}
.text-holder {
  letter-spacing: 2px;
  color: black;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300%;
  font-weight: 600;
  text-shadow: 0px 3px 0px #4fa8c2, 0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 10px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
  font-family: "Londrina Outline", cursive;
  animation-name: slide-in;
  animation-timing-function: ease-in-out;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@keyframes slide-in {
  0% {
    opacity: 0%;
    transform: translate(-100%) scale(0.1);
  }
  50% {
    opacity: 100%;
    transform: translate(0);
  }
}

.link {
  text-decoration: none;
  width: 50vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Nanum Pen Script", cursive;
  font-size: 200%;
  transition: 0.2s;
}

.thumbnail {
  width: 40vmin;
  aspect-ratio: 1/1.5;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.fade-in {
  width: 40vmin;
  aspect-ratio: 1/1.5;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  animation-name: fade-in;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}
@keyframes fade-in {
  0% {
    opacity: 0%;
  }
}

.button {
  min-width: 10vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nanum Pen Script", cursive;
  background-color: transparent;
  font-size: 200%;
  width: 20vmin;
  height: 5vmin;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 5px;
  border: none;
  color: black;
  border-radius: 3px;
  transition: 0.2s;
}
.button:hover {
  transform: scale(1.1);
  font-size: 200%;
}

@media (max-width: 700px) {
  .button {
    font-size: 175%;
    width: 22vmin;
    height: 6vmin;
  }
  .link {
    font-size: 175%;
  }
  .snake-game--thumbnail {
    width: 30vmin;
  }
}
@media (max-width: 550px) {
  .under-title {
    font-size: 90%;
  }
}
@media (max-width: 550px) {
  .under-title {
    font-size: 80%;
  }
}

.project-body {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: slide-in;
  animation-timing-function: ease-in-out;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@media (max-width: 400px) {
  .text-holder {
    font-size: 250%;
  }
  .link {
    font-size: 150%;
  }
}
@media (max-width: 350px) {
  .text-holder {
    font-size: 225%;
  }
}

.invisible {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: transparent;
}

.under-title {
  color: black;
}
