.color {
  color: #d81c23;
  color: #4fa8c2;
  color: #d97441;
  color: #d29849;
  font-family: "Quantico", sans-serif;
}
.container {
  grid-row: 3/4;
  width: 100%;
  height: 100vh;
  width: 100%;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 0 0 25px 25px;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
}

.skills-container {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}
.text-holder {
  letter-spacing: 2px;
  color: black;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300%;
  font-weight: 600;
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 10px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
  font-family: "Londrina Outline", cursive;
  animation-name: fade-in;
  animation-timing-function: ease-in-out;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;

  animation-iteration-count: 1;
}
@keyframes fade-in {
  0% {
    opacity: 0%;
    transform: translate(-100%);
  }
  50% {
    opacity: 100%;
    transform: translate(0);
  }
  91% {
    transform: scale(1.1);
  }
}

.invisible {
  width: 1px;
  height: 1px;
}

.svg-main--container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 90%;
}

/* individual icons within grid layout */

.indiv-icon--container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: 90%;
  flex-direction: column;
  transition: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 5px;
}

.indiv-icon--container:hover {
  transform: scale(1.05);
  background-color: rgba(210, 152, 73, 0.3);
}
.indiv-icon--container:focus {
  transform: scale(1.05);
  background-color: rgba(210, 152, 73, 0.3);
}
.icon {
  width: 9vmin;
  margin: 10px;
}

.git-icon {
  width: 10vmin;
  background-color: white;
  padding: 5px;
  border: solid black 1px;
  border-radius: 3px;
}

.row-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.under-title {
  font-size: x-small;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 10vmin;
  padding: 15px;
  margin: 0;
  color: black;
  font-family: "Nanum Pen Script", cursive;
  font-size: larger;
  font-size: 150%;
}

.description {
  font-family: "Nanum Pen Script", cursive;
  font-size: 130%;
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
