.color {
  color: #d81c23;
  color: #4fa8c2;
  color: #d97441;
  color: #d29849;
  font-family: "Nanum Pen Script", cursive;
}
.container {
  grid-row: 2/3;
  width: 100%;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 0 0 25px 25px;
  transition: 0.2s;
}

.header-container {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}
.text-holder {
  letter-spacing: 2px;
  color: black;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300%;
  font-weight: 600;
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 10px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
  font-family: "Londrina Outline", cursive;
  animation-name: fade-in;
  animation-timing-function: ease-in-out;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@keyframes fade-in {
  0% {
    opacity: 0%;
    transform: translate(-100%) scale(0.1);
  }
  50% {
    opacity: 100%;
    transform: translate(0);
  }
}

.invisible {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: transparent;
}

.about {
  color: black;
  font-size: 200%;
  width: 80vw;
  font-family: "Nanum Pen Script", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2;
  animation-name: body-fade--in;
  animation-timing-function: ease-in-out;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@keyframes body-fade--in {
  0% {
    transform: scale(0);
    opacity: 0%1;
  }
  100% {
    opacity: 100%;
  }
}

@media (max-width: 500px) {
  .about {
    font-size: 175%;
  }
}

@media (max-width: 400px) {
  .about {
    font-size: 160%;
  }
}

.top {
  z-index: 100;
  position: sticky;
  top: 0px;
  border: none;
  width: 50%;
}

.top:hover {
  transform: scale(1.1);
}
