.color {
  color: #d81c23;
  color: #4fa8c2;
  color: #d97441;
  color: #d29849;
  font-family: "Nanum Pen Script", cursive;
}
.container {
  grid-row: 2/3;
  width: 100%;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 0 0 25px 25px;
  transition: 0.2s;
}

.container:visited {
  text-decoration: none;
}
.container:link {
  text-decoration: none;
}

.about-container {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}
.text-holder {
  color: black;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200%;
  font-family: "Nanum Pen Script", cursive;
}

/* @media (max-width: 550px) {
    .text-holder {
      font-size: 100%;
    }
  }
  
  @media (min-width: 551px) {
    .text-holder {
      font-size: 120%;
    }
  } */

.coding-pic {
  width: 50vw;
  height: 50vw;
  transform: translate(70%, 0);
}

.about {
  color: black;
  font-size: 130%;
  width: 80vw;
  font-family: "Nanum Pen Script", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2;
}
