.nav-bar {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid #d97441 3px;
  border-left: solid #d29849 0.5px;
  border-radius: 0 0 0 25px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.nav-item {
  margin: 10px;
  font-family: "Nanum Pen Script", cursive;
  text-decoration: none;
  font-size: 120%;
  color: black;
  transition: 0.2s;
}
.nav-item:hover {
  transform: scale(1.1);
  color: #d81c23;
  text-decoration: underline;
}
.nav-item:link {
  color: black;
}
