.container {
  background-color: transparent;
  z-index: 1;
  width: 100%;
  display: grid;
  grid-row: 1/2;
  transition: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 0 0 25px 25px;
}

.body {
  position: relative;
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.header {
  margin: 0;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Londrina Outline", cursive;
  animation-name: pulse;
  animation-delay: 3s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes pulse {
  10% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
  }
}

@media (max-width: 760px) {
  .header {
    font-size: 110%;
  }
}

.first-span {
  color: black;
  font-size: 300%;
  transition: 0.2s;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 10px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
  transform: translateX(150%);
  animation-name: first-span-slide-in;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes first-span-slide-in {
  50% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: translateX(0%);
    opacity: 100%;
  }
}
.second-span {
  color: black;
  font-size: 350%;
  transition: 0.2s;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 10px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
  transform: translate(-150%);
  animation-name: second-span-slide-in;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes second-span-slide-in {
  50% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: translateX(0%);
    opacity: 100%;
  }
}

.third-span {
  color: black;
  font-size: 300%;
  transition: 0.2s;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 10px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
  transform: translateX(150%);
  animation-name: third-span-slide-in;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes third-span-slide-in {
  50% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: translateX(0%);
  }
}

.nav-bar {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid #d97441 3px;
  border-left: solid #d29849 0.5px;
  border-radius: 0 0 0 25px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.nav-item {
  margin: 10px;
  font-family: "Nanum Pen Script", cursive;
  text-decoration: none;
  font-size: 120%;
  color: black;
  transition: 0.2s;
}
.nav-item:hover {
  transform: scale(1.1);
  color: #d81c23;
  text-decoration: underline;
}
.nav-item:link {
  color: black;
}

.headshot {
  position: relative;
  z-index: 2;
  height: 50vmin;
  background-color: transparent;
  transform: translateX(-100%);
  opacity: 0%;
  border-radius: 0 0 0 25px;
  animation-name: image-slide-in;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes image-slide-in {
  100% {
    transform: translateX(0%);
    opacity: 100%;
  }
}

.img-container {
  margin: 0;
  height: 100%;
  width: 50vw;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.arrow {
  width: 10vmin;
  position: absolute;
  z-index: 4;
  transform: translate(600%, -50%);
  animation-name: arrow;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;

  animation-iteration-count: infinite;
}
@keyframes arrow {
  0% {
    transform: translate(600%);
  }
  50% {
    transform: translate(600%, -60%) scale(1.1);
    filter: invert(20%);
  }
  100% {
    transform: translate(600%);
  }
}

.invisible {
  display: hidden;
  width: 1px;
  height: 1px;
}

.react-icon--container {
  margin: 0;
  height: 100%;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(100%);
  animation-name: react;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}
@keyframes react {
  0% {
  }
  30% {
    transform: translateX(0) rotate(-180deg);
  }

  60% {
    transform: translate(0, -40%);
  }
  100% {
    transform: translateX(100%) rotate(-180deg);
  }
}

.github-icon--container {
  margin: 0;
  height: 100%;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(100%);
  animation-name: github;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}
@keyframes github {
  0% {
  }
  40% {
    transform: scale(1);
    filter: invert(0%);
  }
  50% {
    transform: translateX(0) scale(1.2);
    filter: invert(10%);
  }
  60% {
    transform: scale(1);
    filter: invert(0%);
  }

  100% {
    transform: translateX(100%);
  }
}
.git-icon--container {
  margin: 0;
  height: 100%;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(100%);
  animation-name: git;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}
@keyframes git {
  0% {
  }
  40% {
    transform: scale(1);
    filter: invert(0%);
  }
  50% {
    transform: translateX(0) scale(1.2) rotate(5deg);
  }
  60% {
    transform: scale(1) rotate(-5deg);
    filter: invert(0%);
  }

  100% {
    transform: translateX(100%);
  }
}
.css-icon--container {
  margin: 0;
  height: 100%;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(100%);
  animation-name: css;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}
@keyframes css {
  0% {
  }
  40% {
    transform: translateX(0) scale(1);
  }
  45% {
    transform: skew(5deg, 5deg) scale(1.1);
  }
  55% {
    transform: skew(-5deg, -5deg) scale(1.1);
  }
  60% {
    transform: skew(0, 0) scale(1);
  }
  100% {
    transform: translateX(100%);
  }
}
.responsive-icon--container {
  margin: 0;
  height: 100%;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(100%);
  animation-name: responsive;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
@keyframes responsive {
  0% {
    filter: blur(20px);
  }
  50% {
    transform: translateX(0);
    filter: blur(0px);
  }
  100% {
    transform: translateX(100%);
    filter: blur(20px);
  }
}
.html-icon--container {
  margin: 0;
  height: 100%;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(100%) rotate(-15deg);
  animation-name: html;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}
@keyframes html {
  0% {
    opacity: 0%;
  }
  50% {
    transform: translateX(0) scale(1.1);
    opacity: 100%;
  }
  100% {
    transform: translateX(100%) rotate(15deg);
    opacity: 0%;
  }
}
.typescript-icon--container {
  margin: 0;
  height: 100%;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(100%) scale(0.1);

  animation-name: typescript;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}
@keyframes typescript {
  0% {
  }
  50% {
    transform: translateX(0) scale(1);
    filter: drop-shadow(10px 10px 20px black);
  }

  100% {
    transform: translateX(100%) scale(0.1);
  }
}
.javascript-icon--container {
  margin: 0;
  height: 100%;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(100%) rotate(180deg);
  animation-name: javascript;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}
@keyframes javascript {
  0% {
  }
  50% {
    transform: translateX(0) rotate(0);
  }
  55% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1);
  }

  100% {
    transform: translateX(100%);
  }
}
.mui-icon--container {
  margin: 0;
  height: 100%;
  width: 50vw;
  display: flex;
  align-items: center;

  justify-content: center;
  transform: translate(100%);
  animation-name: mui;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}
@keyframes mui {
  0% {
  }
  50% {
    transform: translateX(0) rotate3d(0, 0.5, 0, -1turn);
  }

  100% {
    transform: translateX(100%) rotate3d(0, 0.5, 0, -1turn);
  }
}

.icon {
  z-index: 1;
  width: 15vmin;
  position: relative;
}

.bottom-row--container {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: 50vh;
  margin-bottom: 2px;
}
