.container {
  background-color: transparent;
  z-index: 1;
  width: 100%;
  display: grid;
  grid-row: 1/2;
  transition: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 0 0 25px 25px;
}

.body {
  position: relative;
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.bottom-row--container {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: 50vh;
  margin-bottom: 2px;
}
