.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  border: inset black 2px;
  border-radius: 5px;
  font-size: 70%;
  font-family: "Nanum Pen Script", cursive;
  background-color: transparent;
}
.input:focus {
  outline: solid #4fa8c2 2px;
}
.input:hover {
  outline: solid #4fa8c2 2px;
}
.textarea {
  border: inset black 2px;
  border-radius: 5px;
  font-size: 70%;
  font-family: "Nanum Pen Script", cursive;
  resize: none;

  background-color: transparent;
}
.textarea:focus {
  outline: solid #4fa8c2 2px;
}
.textarea:hover {
  outline: solid #4fa8c2 2px;
}
.label-input--container {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 550px;
}

.label-textarea--container {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 550px;
}
.button-container {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 550px;
}

.button {
  min-width: 10vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nanum Pen Script", cursive;
  background-color: transparent;
  font-size: 100%;
  width: 20vmin;
  height: 5vmin;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 5px;
  border: none;
  color: black;
  border-radius: 3px;
  transition: 0.2s;
}
.button:hover {
  transform: scale(1.1);
}

@media (max-width: 500px) {
  .button-container,
  .label-textarea--container,
  .label-input--container {
    width: 90%;
  }
}
