.color {
  color: #d81c23;
  color: #4fa8c2;
  color: #d97441;
  color: #d29849;
  font-family: "Quantico", sans-serif;
}
.container {
  grid-row: 4/5;
  width: 100%;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 0 0 25px 25px;
  transition: 0.2s;
}

.container:visited {
  text-decoration: none;
}
.container:link {
  text-decoration: none;
}

.header-container {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}
.text-holder {
  color: black;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200%;
  font-family: "Nanum Pen Script", cursive;
}

/* @media (max-width: 550px) {
  .text-holder {
    font-size: 100%;
  }
}

@media (min-width: 551px) {
  .text-holder {
    font-size: 120%;
  }
} */

.link {
  position: relative;
  text-decoration: none;
  color: black;
  width: 30vmin;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.2s;
}

.snake-game--thumbnail {
  width: 25vmin;
  margin-bottom: 20px;
  border: solid black 1px;
  border-radius: 5px;
}

.button {
  min-width: 10vmin;
  width: 20vmin;
  height: 5vmin;
  margin: 10px;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border: solid black 1px;
  font-family: "Press Start 2p", cursive;
  border-radius: 3px;
  transition: 0.2s;
}
.button:hover {
  transform: scale(1.1);
}

@media (max-width: 400px) {
  .button {
    font-size: x-small;
  }
}

.project-body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
