.color {
  color: #d81c23;
  color: #4fa8c2;
  color: #d97441;
  color: #d29849;
  font-family: "Quantico", sans-serif;
}

.container {
  grid-row: 5/6;
  width: 100%;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 0 0 25px 25px;
  transition: 0.2s;
}

.container:visited {
  text-decoration: none;
  color: black;
}
.container:link {
  text-decoration: none;
  color: black;
}

.header-container {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.text-holder {
  color: black;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 250%;
  font-family: "Nanum Pen Script", cursive;
}

.how-to--contact {
  font-family: "Nanum Pen Script", cursive;
  font-size: 150%;
  color: black;
}

.email-href {
  color: #d81c23;
  transition: 0.2s;
}
.email-href:hover {
  transform: scale(2);
  color: blue;
}
.link-container {
  width: 100%;
  max-width: 600px;
  display: flex;
  height: 90%;
  justify-content: space-around;
  align-items: center;
}
.link-container--parent {
  width: 100%;
  height: 20vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indiv-icon--container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vmin;
}

.icon {
  width: 10vmin;
  transition: 0.2s;
}
.icon:hover {
  transform: scale(1.2);
}

/* @media (max-width: 500px) {
  .icon {
    width: 15vmin;
  }
  .github-icon {
    width: 15vmin;
  }
} */
.body-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90%;
}
