.container {
  grid-row: 5/6;
  width: 100%;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 0 0 25px 25px;
  transition: 0.2s;
}

.container:visited {
  text-decoration: none;
  color: black;
}
.container:link {
  text-decoration: none;
  color: black;
}

.header-container {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.text-holder {
  letter-spacing: 2px;
  color: black;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300%;
  font-weight: 600;
  text-shadow: 0px 3px 0px #4fa8c2, 0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 10px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
  font-family: "Londrina Outline", cursive;
  animation-name: fade-in;
  animation-timing-function: ease-in-out;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@keyframes fade-in {
  0% {
    opacity: 0%;
    transform: translate(-100%) scale(0.1);
  }
  50% {
    opacity: 100%;
    transform: translate(0);
  }
}

.invisible {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: transparent;
}

.how-to--contact {
  font-family: "Nanum Pen Script", cursive;
  font-size: 200%;
  color: black;
  width: 80%;
  animation-name: fade-in;
  animation-timing-function: ease-in-out;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.email-href {
  color: blue;
  transition: 0.2s;
}
.email-href:hover {
  transform: scale(2);
  color: #d81c23;
}
.link-container {
  width: 100%;
  max-width: 600px;
  display: flex;
  height: 90%;
  justify-content: space-around;
  align-items: center;
  animation-name: body-fade--in;
  animation-timing-function: ease-in-out;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@keyframes body-fade--in {
  0% {
    transform: scale(0);
    opacity: 0%1;
  }
  100% {
    opacity: 100%;
  }
}
.link-container--parent {
  width: 100%;
  height: 20vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indiv-icon--container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vmin;
}

.icon {
  width: 10vmin;
  transition: 0.2s;
}
.icon:hover {
  transform: scale(1.2);
}

.body-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70%;
}
@media (max-width: 500px) {
  .icon {
    width: 15vmin;
  }
}
